// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    font-family: 'arial';
}

.fa-btn {
    margin-right: 7px;
}

.navbar-default{
	background: #FFC600;
}

.navbar-default a.navbar-brand {
	color: #000000;
}

h3.item-error {
	background: #a43434;
}
h3.ui-accordion-header-collapsed.item-error {
	background: #ffcccc;
}

// Order table padding so its printable on one page
table.order_table {
	font-size: 9pt;
}
table.order_table tr td {
	padding: 0;
}



@import "components/alert";

@import "components/sortable";

@media print {
	.container {
		width:100%;
	}
	.panel-default {
		border: none;
	}
}

