// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    font-family: 'arial';
}

.fa-btn {
    margin-right: 7px;
}

.navbar-default{
	background: #FFC600;
}

.navbar-default a.navbar-brand {
	color: #000000;
}

h3.item-error {
	background: #a43434;
}
h3.ui-accordion-header-collapsed.item-error {
	background: #ffcccc;
}

// Order table padding so its printable on one page
table.order_table.table-condensed {
	font-size: 12px;
	padding: 0;

	tr th {
		text-align: left;
	}

	.c1 {
		width: 20px;
	}

	.c3 {
		width: 80px;
	}
	.c4 {
		width: 100px;
	}
	.c5 {
		width: 40px;
	}
	.c6 {
		width: 70px;
	}
	.c7,.c8 {
		width: 70px;
	}
	.c8, .c9 {
		text-align: right;
		width:40px;
	}

	td.c6 {
		text-align: center;
	}
	th.c6 {
		text-align: left;
	}

	tr td, tr th {
		padding: 0 5px 0 0;
	}

}






@import "components/alert";

@import "components/sortable";

@media print {
	.container {
		width:100%;
	}
	.panel-default {
		border: none;
	}
	 img.freight-docket {
	    width: 800px;
	    margin-top:90px;
	    border-top: 1px solid #888;
	    padding-top: 10px;
	}
}

