// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    font-family: 'arial';
}

.fa-btn {
    margin-right: 6px;
}

.navbar-default{
	background: #FFC600;
}

@import "components/alert";

@import "components/sortable";

